.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

@media only screen and (max-width: 400px) {
    .theme-btn {
      width: 90px;
      font-size: 10px !important;
    }
  }

