.user-info {
    display: flex;
}


.personal-info {
    
    padding: 20px 0;
    margin: 30px;
}

.company-info {
  
    padding: 20px 0;
    margin: 30px;
}

.edit {
    text-decoration: none;
    margin-right: 5px;
}

.back-cnt {
    text-align: left;
    padding: 10px;
}

.back {
    width: 50px;
}

.user-name {
    margin-top: 70px;
    font-style: oblique;
}