.container {
    height: 100vh;
}

.user-info {
    display: flex;
    justify-content: center;
}

.personal-info {
    padding: 20px 0;
    margin: 30px;
}

.company-info {
  
    padding: 20px 0;
    margin: 30px;
}

.edit {
    text-decoration: none;
    margin-right: 5px;
}

.back-cnt {
    text-align: left;
    padding: 10px;
}

.back {
    width: 50px;
}

.user-name {
    margin-top: 70px;
    font-style: oblique;
}

@media only screen and (max-width: 720px) {
    .user-info {
      display: block;
      text-align: center;
    }
    .personal-info {
        margin: 0;
    }
    .user-name {
        font-size: 19px;
    }
    .btn-delete {
        margin-top: 10px !important;
    }
  }